.footer {
    &-cta {
        @extend .widget_cta;
        margin-bottom: 0 !important;
        position: relative;
        .btn {
            line-height: initial;
            width: 100%;
        }
        .ctas {
            padding-bottom: 0;
            li:last-child {
                margin-bottom: 0 !important;
            }
        }
        .background {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
    }
    &-top {
        border-bottom: 2px lightgray solid;
        ul {
            li {
                &:not(:last-child) {
                    padding-bottom: 56px;
                    @media screen and (min-width: $screen-lg-min) { 
                        padding-bottom: 0;
                    }
                }
            }
        }        
    }
    &-bottom {
        ul {
            li {
                &:not(:last-child) {
                    padding-bottom: 16px;
                    @media screen and (min-width: $screen-lg-min) { 
                        padding-bottom: 0;
                    }
                }
                a {
                    color: color(gray, base);
                }
            }
        }        
    }
    ul {
        padding-top: 32px;
        padding-bottom: 32px;
        li {
            text-align: center;
            a {
                color: inherit;
            }
        }
    }
}